*{
    padding: 0px;
    margin: 0px;
}

div{
    display: flex;
}

.linha{
    width: 100%;
    height: 33.33vh;
}

.fundo-azul {
    background-color: blue;
}

.fundo-amarelo {
    background-color: yellow;
}

.quadrado-amarelo {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.quadrado-amarelo:hover {
    transform: scale(1.5);
    transition: 0.5s;
    rotate: 360deg;
}

.quadrado-azul {
    height: 100px;
    width: 100px;
    background-color: blue;
}

.quadrado-azul:hover{
    transform: scale(1.5);
    transition: 0.5s;
    rotate: 360deg;
}